[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Turn Off the Screen(s)

# A comment which can/will be used as a tooltip
Comment=Turn off the screen(s).

# The path to the folder in which the executable is run
Path=/home/dxps/apps/bin

# The executable of the application, possibly with arguments.
Exec=/home/dxps/apps/bin/turn-off-screens.sh

# The name of the icon that will be used to display this entry
Icon=display

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Office;

