[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=/home/dxps/apps/postman/Postman
Icon=/home/dxps/apps/postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
